@font-face {
  src: url("../fonts/Poppins-Regular.ttf");
  font-family: PoppinsRegular;
}

@font-face {
  src: url("../fonts/Poppins-Bold.ttf");
  font-family: PoppinsBold;
}

@font-face {
  src: url("../fonts/Poppins-SemiBold.ttf");
  font-family: PoppinsSemiBold;
}
