body {
  margin: 0;
  font-family: PoppinsRegular, sans-serif;
}

app-root {
  display: flex;
  min-height: 100vh;
}

app-layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

app-main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  border: 0;
}

.cdk-overlay-dark-backdrop {
  background: rgba(22, 44, 78, 0.6);
}

.cdk-overlay-pane {
  max-width: 320px !important;
}
